.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }

  .gradient-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }  
  h2 {
    font-size: 2em !important;
    font-weight: bold !important;
  }

  .boton-personalizado {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3FAFB8; /* Color principal de tu sitio */
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
  }
  
  .boton-personalizado:hover {
    background-color: #318c91; /* Color más oscuro al pasar el mouse */
  }

  .carousel-item img {
    filter: brightness(80%) contrast(110%) saturate(90%);
  }
 
  .carousel-inner {
       margin-top: -58px; /* Ajusta este valor según el tamaño de tu navbar */
  }