.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F0EC; 
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F1F0EC;
}


/* Logo */
.footer-brand {
    display: flex;
    align-items: center;
    text-decoration: none; /* Quitar subrayado */
    
}

.footer-logo-img {
    height: 80px;
    margin-right: -35px;
}

/* Estilos del texto "FARMA DESIGN" */
.farma {
    color: #3FAFB8;
    font-weight: bold;
  ;
}

.design {
    color: #5E7D99;
    font-weight: bold;
    margin-left: -1px;
}

/* Información de contacto */
.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer-contact .icon {
    color: #3FAFB8;
    margin-right: 5px;
}

/* Redes sociales */
.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 24px;
    height: 24px;
}

/* Derechos de autor */
.footer-copyright {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

/* Ajustes para Mobile */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-contact {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-left {
        margin-left: -45px;
    }
}
