.footer {
  background-color: #f1f0ec;
  padding: 2rem 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #5e7d99;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer-logo {
  width: 60px;
  height: auto;
  margin-bottom: 6px;
}

.footer-description {
  font-size: 0.9rem;
  margin-top: 4px;
}

.footer-right {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-contact-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3fafb8;
  margin-bottom: 8px;
}

.footer-right p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin: 4px 0;
}

.icon {
  color: #3fafb8;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.85rem;
  color: #5e7d99;
}

.footer-bottom a.desarrollador-link {
  color: #3fafb8;
  font-weight: 500;
  text-decoration: none;
}

.footer-bottom a.desarrollador-link:hover {
  text-decoration: underline;
}

/* Mini footer móvil */
.mini-footer {
  background-color: #f1f0ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 50;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.mini-credito {
  font-size: 12px;
  color: #3fafb8;
  text-align: left;
}

.mini-credito a {
  color: #5e7d99;
  text-decoration: none;
  font-weight: 600;
}

.whatsapp-button {
  color: #25D366;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}







/* Responsive */
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
